/* 
  ARQUIVO DE ESTILO CSS DE EXEMPLO 
  Siga a convenção: nome-do-modulo.style.css
*/

.exampleContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fffaf0; /* Um fundo levemente laranjado para exemplo */
  border: 2px dashed #ff8c00;
  border-radius: 8px;
}
